<!DOCTYPE html>
<html>
<head>
    <title>文档检测工具</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>文档检测工具</h1>
<ul>
    <%for(var i = 0; i < files.length; i++) {%>
        <li><%=files[i]%></li>
    <%}%>
</ul>
</body>
</html>